.contactTopbar {
  position: relative;
  background-color: #1B1B1F;
  color: #e0e0e0;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 25px;
  height: 8vh;
}

.socials {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 25px;
}

.contactTopbar img {
  height: 8vh;
}

.contactTopbar img:hover {
  opacity: 0.8;
  transform: scale(1.05);
}