.topbar {
  background-color: #121316;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* static positioning */
  opacity: 1;
  width: 100%;
  z-index: 100;
}

.logo {
  height: 15vh;
  border-radius: 50%;
  margin-left: 10px;
}

.navLinks {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 75px;
  font-weight: 600;
}

.active {
  color: #948a03;
}

.active:hover {
  animation: activeHover 0.7s forwards;
}

@keyframes activeHover {
  from {
    color: #948a03;
  }
  to {
    color: #ffffff;
  }
}

.link:hover {
  animation: linkHover 0.7s forwards;
}

@keyframes linkHover {
  from {
    color: #ffffff;
  }
  to {
    color: #948a03;
  }
}
