.aboutUs {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #121212 0%, #151515 33%, #191919 66%, #1a1a1a 100%);

}

.textSection{
  margin-top: 20vh;
  text-align: left;
  margin-left: 10vw;
  animation: fadeInUp 0.8s ease forwards;
}

.title {
  font-size: 3rem;
  margin-bottom: 40px;
  color: #f5c518;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.textSection h1 { 
  font-size: 2.5rem;
  font-weight: 800;
}

.textSection p {
  font-size: 1.2rem;
  margin-top: 5vh;
}

.imageGallery{
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  margin-right: 50px;
}

.imageOne, .imageTwo, .imageThree, .imageFour {
  margin-bottom: 40px;
  margin-left: 40px;
  width: 300px;
  height: 300px;
}

.imageThree {
  margin-top: 60px;
}
