.banner {
  position: relative;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.banner img {
  height: 100vw;
  object-fit: contain;
  opacity: 0;
}

.bannerImg {
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}