.reviewsSection {
  background-color: #121212;
  color: #fff;
  padding: 60px 0;
  text-align: center;
  overflow: hidden;
}

.heading {
  font-size: 2rem;
  margin-bottom: 30px;
}
.carouselContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.2s;
  z-index: 10;
}

.arrow:hover {
  transform: translateY(-50%) scale(1.1);
}

.arrow:disabled {
  opacity: 0.3;
  cursor: default;
}

/* Positioning left/right arrows at screen edges */
.arrow:first-of-type {
  left: 5vw; /* small padding from screen edge */
}

.arrow:last-of-type {
  right: 6vw;
}

.carousel {
  width: 75%;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.track {
  display: flex;
  transition: transform 0.6s ease;
}

.cardWrapper {
  flex: 0 0 calc(100% / 3);
  padding: 0 10px;
}
