.flipContainer {
  perspective: 1000px; /* enables 3D flip */
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipContainer:hover .flipper {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.back {
  background-color: #121212;
  color: #fff;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.back h2 {
  margin: 0;
  font-size: 1.5rem;
}

.back p {
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.4;
}
